.Drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 380px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    transform: translateX(0px);
    transition: transform .22s ease-in;
    z-index: 90;
}

.Drawer.close {
    transform: translateX(-380px);
}

.Drawer ul {
    list-style: none;
    margin-top: 4rem;
    padding: 0;
}

.Drawer ul li {
    margin-bottom: 15px;
}

.Drawer ul li a {
    color: #111c30;
    font-size: 30px;
    text-decoration: none;
    background-color: #fff;
    position: relative;
    padding: 0px 20px 10px 20px;
    transition: opasity .3s;
}

.Drawer ul li a:hover, .active {
    opacity: .7;
}